In [1]:
import os
from xml.dom.pulldom import default_bufsize
from dotenv import load_dotenv
import duckdb
from collections import defaultdict
import pandas as pd
import re

In [2]:
load_dotenv()
# conn = duckdb.connect(':memory:')
conn = duckdb.connect("citi_bike.duckdb")
conn.execute("PRAGMA threads=8;")
conn.execute("PRAGMA enable_print_progress_bar;")
conn.execute("SET preserve_insertion_order = false;")
conn.execute('INSTALL httpfs;')
conn.execute('LOAD httpfs;')
# authenication
conn.execute(f"SET s3_region='us-east-1';")
conn.execute(f"SET s3_access_key_id='{os.environ['AWS_ACCESS_KEY_ID']}';")
conn.execute(f"SET s3_secret_access_key='{os.environ['AWS_SECRET_ACCESS_KEY']}';")

In [3]:
nyc_year_range = range(2013,2026)
jc_year_range = range(2015,2026)

In [4]:
from random import sample

'''
nyc_schema_cols_1 = [
    "trip_duration",
    # "trip_date",
    "start_time",
    "stop_time",
    "start_station_id",
    "start_station_name",
    "start_station_lat",
    "start_station_long",
    "end_station_id",
    "end_station_name",
    "end_station_lat",
    "end_station_long",
    "user_type"
]
nyc_schema_cols_2 = [
    'start_time',
    'stop_time', 
    'start_station_name', 
    'start_station_id', 
    'end_station_name', 
    'end_station_id', 
    'start_station_lat', 
    'start_station_long', 
    'end_station_lat', 
    'end_station_long',
    'user_type'
]
jc_schema_cols_1 = [
    'trip_duration',
    'start_time',
    'stop_time',
    'start_station_id',
    'start_station_name',
    'start_station_lat',
    'start_station_long',
    'end_station_id',
    'end_station_name',
    'end_station_lat',
    'end_station_long',
    'user_type'
]
jc_schema_cols_2 = [
    'start_time',
    'stop_time',
    'start_station_name',
    'start_station_id',
    'end_station_name',
    'end_station_id',
    'start_station_lat',
    'start_station_long',
    'end_station_lat',
    'end_station_long',
    'user_type',
]

schema_cols_map = {"nyc": {"2013":nyc_schema_cols_1, "2014":nyc_schema_cols_1, "2015":nyc_schema_cols_1, "2016":nyc_schema_cols_1, "2017":nyc_schema_cols_1, "2018":nyc_schema_cols_1, "2019":nyc_schema_cols_1, "2020":nyc_schema_cols_2, "2021":nyc_schema_cols_2, "2022":nyc_schema_cols_2, "2023":nyc_schema_cols_2, "2024":nyc_schema_cols_2, "2025":nyc_schema_cols_2},
            "jc": {"2015": jc_schema_cols_1, "2016": jc_schema_cols_1, "2017": jc_schema_cols_1, "2018": jc_schema_cols_1, "2019": jc_schema_cols_1, "2020": jc_schema_cols_1, "2021": jc_schema_cols_2, "2022": jc_schema_cols_2, "2023": jc_schema_cols_2, "2024": jc_schema_cols_2, "2025": jc_schema_cols_2}}
'''
         
def assert_schema_and_dtypes(all_cols):
    target_schema = {
        "trip_duration" : "BIGINT",
        "trip_date" : "DATE",
        "start_time" : "TIMESTAMP",
        "stop_time" : "TIMESTAMP",
        "start_station_id" : "VARCHAR",
        "start_station_name" : "VARCHAR",
        "start_station_lat" : "DOUBLE",
        "start_station_long" : "DOUBLE",
        "end_station_id" : "VARCHAR",
        "end_station_name" : "VARCHAR",
        "end_station_lat" : "DOUBLE",
        "end_station_long" : "DOUBLE",
        "user_type" : "VARCHAR",
        "rideable_type" : "VARCHAR"
    }
    sample_schema = {col_name:col_type for col_name,col_type in all_cols}
    assert len(target_schema) == len(sample_schema), f"Expected {len(target_schema)} cols, Got {len(sample_schema)} cols"
    for canonical_name,canonical_dtype in target_schema.items():
        assert canonical_name in sample_schema, f"provided schema is missing {canonical_name}"
        assert sample_schema[canonical_name] == canonical_dtype, f"datatype mismatch, expected {canonical_name} -> {canonical_dtype}, got {canonical_name} -> {sample_schema[canonical_name]}"

In [16]:
col_mapping = {"nyc": {"2013" : {"col_names" : ["tripduration AS trip_duration","CAST(REPLACE(starttime, '\"', '') AS TIMESTAMP) AS start_time","CAST(REPLACE(SPLIT_PART(CAST(starttime AS VARCHAR),' ',1),'\"','') AS DATE) AS trip_date","CAST(REPLACE(stoptime,'\"','') AS TIMESTAMP) AS stop_time", 'CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','usertype AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'], 
                                     "filter_clause" : 'WHERE starttime IS NOT NULL AND stoptime IS NOT NULL AND "start station id" IS NOT NULL AND "start station latitude" IS NOT NULL AND "start station longitude" IS NOT NULL AND "end station id" IS NOT NULL AND "end station latitude" IS NOT NULL AND "end station longitude" IS NOT NULL'},
                           "2014" : {"col_names" : ["tripduration AS trip_duration","CAST(TRY_STRPTIME(starttime, ['%m/%d/%Y %H:%M:%S','%Y-%m-%d %H:%M:%S']) AS TIMESTAMP) AS start_time","CAST(TRY_STRPTIME(starttime,['%m/%d/%Y %H:%M:%S','%Y-%m-%d %H:%M:%S']) AS DATE) as trip_date","TRY_STRPTIME(stoptime,['%m/%d/%Y %H:%M:%S','%Y-%m-%d %H:%M:%S']) AS stop_time", 'CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','usertype AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                    "filter_clause" : ""},
                           "2015" : {"col_names" : ["tripduration AS trip_duration","CAST(TRY_STRPTIME(starttime, ['%m/%d/%Y %H:%M:%S','%m/%d/%Y %H:%M','%m/%d/%Y %H:%M:%S']) AS TIMESTAMP) AS start_time","CAST(TRY_STRPTIME(starttime,['%m/%d/%Y %H:%M','%m/%d/%Y %H:%M:%S']) AS DATE) AS trip_date","CAST(TRY_STRPTIME(stoptime,['%m/%d/%Y %H:%M:%S','%m/%d/%Y %H:%M']) AS TIMESTAMP) AS stop_time", 'CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','usertype AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                     "filter_clause" : ""},
                           "2016" : {"col_names" : ["tripduration AS trip_duration","CAST(TRY_STRPTIME(starttime,['%m/%d/%Y %H:%M:%S','%Y-%m-%d %H:%M:%S']) AS TIMESTAMP) AS start_time","CAST(TRY_STRPTIME(starttime,['%m/%d/%Y %H:%M:%S','%Y-%m-%d %H:%M:%S']) AS DATE) AS trip_date","CAST(TRY_STRPTIME(stoptime,['%m/%d/%Y %H:%M:%S','%Y-%m-%d %H:%M:%S']) AS TIMESTAMP) AS stop_time", 'CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','usertype AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'], 
                                     "filter_clause" : ""},
                           "2017" : {"col_names" : ["tripduration AS trip_duration","CAST(starttime AS TIMESTAMP) AS start_time","CAST(starttime AS DATE) as trip_date","CAST(stoptime AS TIMESTAMP) AS stop_time", 'CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','usertype AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                    "filter_clause" : 'WHERE "start station latitude" IS NOT NULL AND "end station latitude" IS NOT NULL AND "end station longitude" IS NOT NULL'},
                           "2018" : {"col_names" : ["tripduration AS trip_duration","CAST(REPLACE(starttime,'\"','') AS TIMESTAMP) AS start_time","CAST(REPLACE(starttime,'\"','') AS DATE) as trip_date","CAST(REPLACE(stoptime,'\"','') AS TIMESTAMP) AS stop_time", 'CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','usertype AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                    "filter_clause" : 'WHERE "start station id" IS NOT NULL AND "end station id" IS NOT NULL'},
                           "2019" : {"col_names" : ["tripduration AS trip_duration","CAST(starttime AS TIMESTAMP) AS start_time","CAST(starttime AS DATE) AS trip_date","CAST(stoptime AS TIMESTAMP) AS stop_time", 'CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','usertype AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                    "filter_clause" : 'WHERE "start station id" IS NOT NULL AND "end station id" IS NOT NULL'},
                           "2020" : {"col_names" : ["CAST(started_at AS TIMESTAMP) AS start_time","CAST(ended_at AS TIMESTAMP) AS stop_time","CAST(started_at AS DATE) AS trip_date","CAST(EXTRACT(EPOCH FROM (CAST(ended_at AS TIMESTAMP) - CAST(started_at AS TIMESTAMP))) AS BIGINT) AS trip_duration","start_station_name","CAST(start_station_id AS VARCHAR) AS start_station_id","end_station_name","end_station_id","start_lat AS start_station_lat","start_lng AS start_station_long","end_lat AS end_station_lat","end_lng AS end_station_long","member_casual AS user_type","rideable_type"],
                                     "filter_clause" : "WHERE start_station_id IS NOT NULL AND end_lat IS NOT NULL"},
                           "2021" : {"col_names" : ["CAST(started_at AS TIMESTAMP) AS start_time","CAST(ended_at AS TIMESTAMP) AS stop_time","CAST(started_at AS DATE) AS trip_date","CAST(EXTRACT(EPOCH FROM (CAST(ended_at AS TIMESTAMP) - CAST(started_at AS TIMESTAMP))) AS BIGINT) AS trip_duration","start_station_name","CAST(start_station_id AS VARCHAR) AS start_station_id","end_station_name","end_station_id","start_lat AS start_station_lat","start_lng AS start_station_long","end_lat AS end_station_lat","end_lng AS end_station_long","member_casual AS user_type","rideable_type"],
                                     "filter_clause" : "WHERE start_station_id IS NOT NULL AND end_lat IS NOT NULL"},
                           "2022" : {"col_names" : ["CAST(started_at AS TIMESTAMP) AS start_time","CAST(ended_at AS TIMESTAMP) AS stop_time","CAST(started_at AS DATE) AS trip_date","CAST(EXTRACT(EPOCH FROM (CAST(ended_at AS TIMESTAMP) - CAST(started_at AS TIMESTAMP))) AS BIGINT) AS trip_duration","start_station_name","CAST(start_station_id AS VARCHAR) AS start_station_id","end_station_name","end_station_id","start_lat AS start_station_lat","start_lng AS start_station_long","end_lat AS end_station_lat","end_lng AS end_station_long","member_casual AS user_type","rideable_type"],
                                     "filter_clause" : "WHERE start_station_id IS NOT NULL AND end_lat IS NOT NULL"},
                           "2023" : {"col_names" : ["CAST(started_at AS TIMESTAMP) AS start_time","CAST(ended_at AS TIMESTAMP) AS stop_time","CAST(started_at AS DATE) AS trip_date","CAST(EXTRACT(EPOCH FROM (CAST(ended_at AS TIMESTAMP) - CAST(started_at AS TIMESTAMP))) AS BIGINT) AS trip_duration","start_station_name","start_station_id","end_station_name","end_station_id","start_lat AS start_station_lat","start_lng AS start_station_long","end_lat AS end_station_lat","end_lng AS end_station_long","member_casual AS user_type","rideable_type"],
                                     "filter_clause" : "WHERE start_lat IS NOT NULL AND end_lat IS NOT NULL"},
                           "2024" : {"col_names" : ["CAST(started_at AS TIMESTAMP) AS start_time","CAST(ended_at AS TIMESTAMP) AS stop_time","CAST(started_at AS DATE) AS trip_date","CAST(EXTRACT(EPOCH FROM (CAST(ended_at AS TIMESTAMP) - CAST(started_at AS TIMESTAMP))) AS BIGINT) AS trip_duration","start_station_name","start_station_id","end_station_name","end_station_id","start_lat AS start_station_lat","start_lng AS start_station_long","end_lat AS end_station_lat","end_lng AS end_station_long","member_casual AS user_type","rideable_type"],
                                     "filter_clause" : "WHERE start_lat IS NOT NULL AND end_lat IS NOT NULL"},
                           "2025" : {"col_names" : ["CAST(started_at AS TIMESTAMP) AS start_time","CAST(ended_at AS TIMESTAMP) AS stop_time","CAST(started_at AS DATE) AS trip_date","CAST(EXTRACT(EPOCH FROM (CAST(ended_at AS TIMESTAMP) - CAST(started_at AS TIMESTAMP))) AS BIGINT) AS trip_duration","start_station_name","start_station_id","end_station_name","end_station_id","start_lat AS start_station_lat","start_lng AS start_station_long","end_lat AS end_station_lat","end_lng AS end_station_long","member_casual AS user_type","rideable_type"],
                                     "filter_clause" : "WHERE start_lat IS NOT NULL AND end_lat IS NOT NULL"}
                           }, 
                    "jc": {"2015" : {"col_names" : ['"trip duration" AS trip_duration','CAST("start time" AS TIMESTAMP) AS start_time','CAST("stop time" AS TIMESTAMP) AS stop_time','CAST("start time" AS DATE) AS trip_date','CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','"user type" AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                     "filter_clause" : ""},
                           "2016" : {"col_names" : ['"trip duration" AS trip_duration','CAST("start time" AS TIMESTAMP) AS start_time','CAST("stop time" AS TIMESTAMP) AS stop_time','CAST("start time" AS DATE) AS trip_date','CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','"user type" AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                     "filter_clause" : ""},
                           "2017" : {"col_names" : ['"tripduration" AS trip_duration',"CAST(REPLACE(starttime,'\"','') AS TIMESTAMP) AS start_time","CAST(REPLACE(stoptime,'\"','') AS TIMESTAMP) AS stop_time","CAST(REPLACE(starttime,'\"','') AS DATE) AS trip_date",'CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','"usertype" AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                     "filter_clause" : ""},
                           "2018" : {"col_names" : ['"tripduration" AS trip_duration',"CAST(REPLACE(starttime,'\"','') AS TIMESTAMP) AS start_time","CAST(REPLACE(stoptime,'\"','') AS TIMESTAMP) AS stop_time","CAST(REPLACE(starttime,'\"','') AS DATE) AS trip_date",'CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','"usertype" AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                     "filter_clause" : ""},
                           "2019" : {"col_names" : ['"tripduration" AS trip_duration',"CAST(REPLACE(starttime,'\"','') AS TIMESTAMP) AS start_time","CAST(REPLACE(stoptime,'\"','') AS TIMESTAMP) AS stop_time","CAST(REPLACE(starttime,'\"','') AS DATE) AS trip_date",'CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','"usertype" AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                     "filter_clause" : ""},
                           "2020" : {"col_names" : ['"tripduration" AS trip_duration',"CAST(REPLACE(starttime,'\"','') AS TIMESTAMP) AS start_time","CAST(REPLACE(stoptime,'\"','') AS TIMESTAMP) AS stop_time",'CAST(start_time as DATE) AS trip_date','CAST("start station id" AS VARCHAR) AS start_station_id','"start station name" AS start_station_name','"start station latitude" AS start_station_lat','"start station longitude" AS start_station_long','CAST("end station id" AS VARCHAR) AS end_station_id','"end station name" AS end_station_name','"end station latitude" AS end_station_lat','"end station longitude" AS end_station_long','"usertype" AS user_type','CAST(NULL AS VARCHAR) AS rideable_type'],
                                     "filter_clause" : ""},
                           "2021" : {"col_names" : ['CAST(started_at AS TIMESTAMP) AS start_time', 'CAST(ended_at AS TIMESTAMP) AS stop_time', 'CAST(started_at AS DATE) AS trip_date', 'CAST(EXTRACT(EPOCH FROM (CAST(ended_at AS TIMESTAMP) - CAST(started_at AS TIMESTAMP))) AS BIGINT) AS trip_duration','start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat AS start_station_lat', 'start_lng AS start_station_long', 'end_lat AS end_station_lat', '"end_lng" AS end_station_long', 'member_casual AS user_type',"rideable_type"],
                                     "filter_clause" : "WHERE start_lat IS NOT NULL AND end_lat IS NOT NULL"},
                           "2022" : {"col_names" : ["CAST(REPLACE(started_at,'\"','') AS TIMESTAMP) AS start_time", "CAST(REPLACE(ended_at,'\"','') AS TIMESTAMP) AS stop_time", "CAST(REPLACE(started_at,'\"','') AS DATE) AS trip_date","CAST(EXTRACT(EPOCH FROM (CAST(REPLACE(ended_at,'\"','') AS TIMESTAMP) - CAST(REPLACE(started_at,'\"','') AS TIMESTAMP))) AS BIGINT) AS trip_duration",'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat AS start_station_lat', 'start_lng AS start_station_long', 'end_lat AS end_station_lat', '"end_lng" AS end_station_long', 'member_casual AS user_type',"rideable_type"],
                                     "filter_clause" : "WHERE end_lat IS NOT NULL"},
                           "2023" : {"col_names" : ["CAST(REPLACE(started_at,'\"','') AS TIMESTAMP) AS start_time", "CAST(REPLACE(ended_at,'\"','') AS TIMESTAMP) AS stop_time", "CAST(REPLACE(started_at,'\"','') AS DATE) AS trip_date", "CAST(EXTRACT(EPOCH FROM (CAST(REPLACE(ended_at,'\"','') AS TIMESTAMP) - CAST(REPLACE(started_at,'\"','') AS TIMESTAMP))) AS BIGINT) AS trip_duration",'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat AS start_station_lat', 'start_lng AS start_station_long', 'end_lat AS end_station_lat', '"end_lng" AS end_station_long', 'member_casual AS user_type',"rideable_type"],
                                     "filter_clause" : "WHERE end_lat IS NOT NULL"},
                           "2024" : {"col_names" : ["CAST(REPLACE(started_at,'\"','') AS TIMESTAMP) AS start_time", "CAST(REPLACE(ended_at,'\"','') AS TIMESTAMP) AS stop_time","CAST(REPLACE(started_at,'\"','') AS DATE) AS trip_date","CAST(EXTRACT(EPOCH FROM (CAST(REPLACE(ended_at,'\"','') AS TIMESTAMP) - CAST(REPLACE(started_at,'\"','') AS TIMESTAMP))) AS BIGINT) AS trip_duration",'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat AS start_station_lat', 'start_lng AS start_station_long', 'end_lat AS end_station_lat', '"end_lng" AS end_station_long', 'member_casual AS user_type',"rideable_type"],
                                     "filter_clause" : "WHERE end_lat IS NOT NULL"},
                           "2025" : {"col_names" : ["CAST(REPLACE(started_at,'\"','') AS TIMESTAMP) AS start_time", "CAST(REPLACE(ended_at,'\"','') AS TIMESTAMP) AS stop_time", "CAST(REPLACE(started_at,'\"','') AS DATE) AS trip_date", "CAST(EXTRACT(EPOCH FROM (CAST(REPLACE(ended_at,'\"','') AS TIMESTAMP) - CAST(REPLACE(started_at,'\"','') AS TIMESTAMP))) AS BIGINT) AS trip_duration",'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat AS start_station_lat', 'start_lng AS start_station_long', 'end_lat AS end_station_lat', '"end_lng" AS end_station_long', 'member_casual AS user_type',"rideable_type"],
                                     "filter_clause" : "WHERE start_lat IS NOT NULL AND end_lat IS NOT NULL"}}}

In [6]:
# annual total rides -> source -> city -> year -> num
# monthly -> cleaned dataset -> fuk it
total_rides = {"nyc": {},"jc":{}}
for year in nyc_year_range:
    total_rides["nyc"][str(year)] = 0
for year in jc_year_range:
    total_rides["jc"][str(year)] = 0

In [7]:
nyc_views = {} # year [str] -> view_name [str]

In [8]:
def prune_local_tables_in_disk(city=None):
    # fetch all table names once
    all_tables = [t[0] for t in conn.execute("SHOW TABLES;").fetchall()]
    if city == "nyc":
        all_tables = list(filter(lambda x: x.startswith("nyc"),all_tables))
    elif city == "jc":
        all_tables = list(filter(lambda x: x.startswith("jc"),all_tables))
    else:
        all_tables = list(filter(lambda x: x.startswith("nyc") or x.startswith("jc"),all_tables))
    for table in all_tables:
        print(f"Dropping table {table}")
        conn.execute(f"DROP TABLE IF EXISTS {table}")
def show_tables_on_disk():
    print([t[0] for t in conn.execute("SHOW TABLES;").fetchall()])

In [18]:
for city in ["nyc","jc"]:
    year_range = nyc_year_range if city == "nyc" else jc_year_range
    for year in year_range:
        table_name = table_name = f"{city}_{year}"
        tables = [c[0] for c in conn.execute("SHOW TABLES").fetchall()]
        if table_name not in tables:
            try:
                conn.execute("BEGIN TRANSACTION")
                print(f"⏳ Creating table {table_name} from S3 ...")
                conn.execute(f"""
                        CREATE OR REPLACE VIEW raw_view AS SELECT * FROM {f"read_parquet('s3://citibike-nycdata/parquet_files/{city}_files/{year}/*')"}
                            """)
                # ['column_name', 'column_type', 'min', 'max', 'approx_unique', 'avg', 'std', 'q25', 'q50', 'q75', 'count', 'null_percentage']
                result = conn.execute("SELECT COUNT(*) FROM raw_view").fetchall()
                raw_view_total = result[0][0]
                total_rides[city][str(year)] = raw_view_total
                print(f"Total entries found for {year} -> {raw_view_total}")
                col_names = ','.join(col_mapping[city][str(year)]["col_names"])
                filter_clause = col_mapping[city][str(year)]["filter_clause"]
                result = conn.execute(f'CREATE OR REPLACE VIEW temp_view AS SELECT {col_names} FROM raw_view {filter_clause}')
                temp_view_cols = [(col[0],col[1]) for col in conn.execute("DESCRIBE temp_view").fetchall()]
                print("begin schema validity check")
                assert_schema_and_dtypes(temp_view_cols)
                print("done schema validity check")
                
                # begin nullity check -> for filtering
                '''
                query = []
                for c in schema_cols:
                    query.append(f"COUNT(*) - COUNT({c})")
                result = conn.execute(f"""
                                SELECT {','.join(query)} FROM temp_view
                                    """).fetchall()
                for i,col in enumerate(schema_cols):
                    print(f"Null Count -- {col} -> ",result[0][i])
                    assert result[0][i] == 0, "nil value unhandled!!"
                '''
                # end nullity check -> for filtering

                # general nullity check
                print("begin nullity check")
                for c in [e[0] for e in conn.execute("DESCRIBE SELECT(*) FROM temp_view").fetchall()]:
                    if c == "rideable_type":
                        print(f"skipping ... {c}")
                        continue
                    null_count = conn.execute(f"SELECT COUNT(*) - COUNT({c}) FROM temp_view").fetchall()[0][0]
                    assert null_count == 0, f"detected {null_count} nil values for {c}"
                print("done nullity check")
                # end general nullity check
                
                temp_view_total = conn.execute("SELECT COUNT(*) FROM temp_view").fetchall()[0][0]
                print(f"reduced {raw_view_total} by {raw_view_total-temp_view_total} -> {temp_view_total}")
                print("sample query -> ")
                print(conn.execute("SELECT * FROM temp_view LIMIT 5").fetchall())
                print(conn.description)
                print("attempting to add view")
                conn.execute(f"CREATE OR REPLACE TABLE {table_name} AS SELECT * FROM temp_view;")
                nyc_views[str(year)] = table_name
                print("done adding view...")
                # filter to new view entries where any of the following col c1,c2,c3,c4 are null
                # print([c[0] for c in conn.description])
                # print(f"{'Column':25} | {'Type':10} | {'Null %':>7} | {'Count':>8} | {'Avg':>10} | {'Std':>10}")
                # print("-" * 80)
                # for e in result:
                #     col_name, col_type, _, _, _, avg, std, _, _, _, count, null_pct = e
                #     print(f"{col_name:25} | {col_type:10} | {float(null_pct):7.2f} | {count:8} | {avg or '':>10} | {std or '':>10}")
                print(f"✅ {table_name} created & persisted.")
                conn.execute("COMMIT")
            except Exception as e:
                conn.execute("ROLLBACK")
                raise e
        else:
            print(f"⚡ {table_name} already exists — skipping.")
        print("--------------------------------------------------------------------")

⚡ nyc_2013 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2014 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2015 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2016 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2017 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2018 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2019 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2020 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2021 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2022 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2023 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2024 already exists — skipping.
--------------------------------------------------------------------
⚡ nyc_2025 already exists — skipping.
--------------------------------------------------------------------
⏳ Creating table jc_2015 from S3 ...
Total entries found for 2015 -> 52883
begin schema validity check
done schema validity check
begin nullity check
skipping ... rideable_type
done nullity check
reduced 52883 by 0 -> 52883
sample query ->
[(2118, datetime.datetime(2015, 12, 1, 0, 49, 31), datetime.datetime(2015, 12, 1, 1, 24, 49), datetime.date(2015, 12, 1), '3199', 'Newport Pkwy', 40.7287448, -74.0321082, '3199', 'Newport Pkwy', 40.7287448, -74.0321082, 'Subscriber', None), (267, datetime.datetime(2015, 12, 1, 1, 48, 34), datetime.datetime(2015, 12, 1, 1, 53, 2), datetime.date(2015, 12, 1), '3186', 'Grove St PATH', 40.71958611647166, -74.04311746358871, '3209', 'Brunswick St', 40.7241765, -74.0506564, 'Subscriber', None), (119, datetime.datetime(2015, 12, 1, 3, 5, 28), datetime.datetime(2015, 12, 1, 3, 7, 27), datetime.date(2015, 12, 1), '3214', 'Essex Light Rail', 40.7127742, -74.0364857, '3183', 'Exchange Place', 40.7162469, -74.0334588, 'Subscriber', None), (340, datetime.datetime(2015, 12, 1, 5, 37, 9), datetime.datetime(2015, 12, 1, 5, 42, 49), datetime.date(2015, 12, 1), '3203', 'Hamilton Park', 40.727595966, -74.044247311, '3202', 'Newport PATH', 40.7272235, -74.0337589, 'Subscriber', None), (638, datetime.datetime(2015, 12, 1, 5, 50, 32), datetime.datetime(2015, 12, 1, 6, 1, 11), datetime.date(2015, 12, 1), '3207', 'Oakland Ave', 40.7376037, -74.0524783, '3185', 'City Hall', 40.7177325, -74.043845, 'Subscriber', None)]
[('trip_duration', BIGINT, None, None, None, None, None), ('start_time', TIMESTAMP, None, None, None, None, None), ('stop_time', TIMESTAMP, None, None, None, None, None), ('trip_date', DATE, None, None, None, None, None), ('start_station_id', VARCHAR, None, None, None, None, None), ('start_station_name', VARCHAR, None, None, None, None, None), ('start_station_lat', DOUBLE, None, None, None, None, None), ('start_station_long', DOUBLE, None, None, None, None, None), ('end_station_id', VARCHAR, None, None, None, None, None), ('end_station_name', VARCHAR, None, None, None, None, None), ('end_station_lat', DOUBLE, None, None, None, None, None), ('end_station_long', DOUBLE, None, None, None, None, None), ('user_type', VARCHAR, None, None, None, None, None), ('rideable_type', VARCHAR, None, None, None, None, None)]
attempting to add view
done adding view...
✅ jc_2015 created & persisted.
--------------------------------------------------------------------
⏳ Creating table jc_2016 from S3 ...
Total entries found for 2016 -> 247584
begin schema validity check
done schema validity check
begin nullity check
skipping ... rideable_type
done nullity check
reduced 247584 by 0 -> 247584
sample query ->
[(669, datetime.datetime(2016, 6, 1, 0, 0, 37), datetime.datetime(2016, 6, 1, 0, 11, 46), datetime.date(2016, 6, 1), '3186', 'Grove St PATH', 40.71958611647166, -74.04311746358871, '3190', 'Garfield Ave Station', 40.7104670233797, -74.07003879547119, 'Subscriber', None), (945, datetime.datetime(2016, 6, 1, 0, 14, 54), datetime.datetime(2016, 6, 1, 0, 30, 40), datetime.date(2016, 6, 1), '3199', 'Newport Pkwy', 40.7287448, -74.0321082, '3199', 'Newport Pkwy', 40.7287448, -74.0321082, 'Subscriber', None), (334, datetime.datetime(2016, 6, 1, 0, 34, 52), datetime.datetime(2016, 6, 1, 0, 40, 26), datetime.date(2016, 6, 1), '3186', 'Grove St PATH', 40.71958611647166, -74.04311746358871, '3209', 'Brunswick St', 40.7241765, -74.0506564, 'Subscriber', None), (473, datetime.datetime(2016, 6, 1, 0, 40, 30), datetime.datetime(2016, 6, 1, 0, 48, 23), datetime.date(2016, 6, 1), '3185', 'City Hall', 40.7177325, -74.043845, '3192', 'Liberty Light Rail', 40.7112423, -74.0557013, 'Subscriber', None), (551, datetime.datetime(2016, 6, 1, 0, 50, 6), datetime.datetime(2016, 6, 1, 0, 59, 17), datetime.date(2016, 6, 1), '3220', '5 Corners Library', 40.734961020009514, -74.0595030784607, '3197', 'North St', 40.752559, -74.044725, 'Subscriber', None)]
[('trip_duration', BIGINT, None, None, None, None, None), ('start_time', TIMESTAMP, None, None, None, None, None), ('stop_time', TIMESTAMP, None, None, None, None, None), ('trip_date', DATE, None, None, None, None, None), ('start_station_id', VARCHAR, None, None, None, None, None), ('start_station_name', VARCHAR, None, None, None, None, None), ('start_station_lat', DOUBLE, None, None, None, None, None), ('start_station_long', DOUBLE, None, None, None, None, None), ('end_station_id', VARCHAR, None, None, None, None, None), ('end_station_name', VARCHAR, None, None, None, None, None), ('end_station_lat', DOUBLE, None, None, None, None, None), ('end_station_long', DOUBLE, None, None, None, None, None), ('user_type', VARCHAR, None, None, None, None, None), ('rideable_type', VARCHAR, None, None, None, None, None)]
attempting to add view
done adding view...
✅ jc_2016 created & persisted.
--------------------------------------------------------------------
⏳ Creating table jc_2017 from S3 ...
Total entries found for 2017 -> 259456
begin schema validity check
done schema validity check
begin nullity check
skipping ... rideable_type
done nullity check
reduced 259456 by 0 -> 259456
sample query ->
[(1076, datetime.datetime(2017, 3, 1, 0, 3, 2), datetime.datetime(2017, 3, 1, 0, 20, 58), datetime.date(2017, 3, 1), '3275', 'Columbus Drive', 40.71835519823214, -74.03891444206238, '3207', 'Oakland Ave', 40.7376037, -74.0524783, 'Subscriber', None), (978, datetime.datetime(2017, 3, 1, 0, 9, 2), datetime.datetime(2017, 3, 1, 0, 25, 20), datetime.date(2017, 3, 1), '3220', '5 Corners Library', 40.734961020009514, -74.0595030784607, '3195', 'Sip Ave', 40.73074262530658, -74.06378388404846, 'Subscriber', None), (1789, datetime.datetime(2017, 3, 1, 0, 28, 11), datetime.datetime(2017, 3, 1, 0, 58), datetime.date(2017, 3, 1), '3195', 'Sip Ave', 40.73074262530658, -74.06378388404846, '3186', 'Grove St PATH', 40.71958611647166, -74.04311746358871, 'Subscriber', None), (613, datetime.datetime(2017, 3, 1, 0, 52, 30), datetime.datetime(2017, 3, 1, 1, 2, 44), datetime.date(2017, 3, 1), '3194', 'McGinley Square', 40.7253399253558, -74.06762212514877, '3189', 'West Side Light Rail', 40.714402, -74.0887723, 'Subscriber', None), (2418, datetime.datetime(2017, 3, 1, 0, 54, 40), datetime.datetime(2017, 3, 1, 1, 34, 59), datetime.date(2017, 3, 1), '3199', 'Newport Pkwy', 40.7287448, -74.0321082, '3199', 'Newport Pkwy', 40.7287448, -74.0321082, 'Subscriber', None)]
[('trip_duration', BIGINT, None, None, None, None, None), ('start_time', TIMESTAMP, None, None, None, None, None), ('stop_time', TIMESTAMP, None, None, None, None, None), ('trip_date', DATE, None, None, None, None, None), ('start_station_id', VARCHAR, None, None, None, None, None), ('start_station_name', VARCHAR, None, None, None, None, None), ('start_station_lat', DOUBLE, None, None, None, None, None), ('start_station_long', DOUBLE, None, None, None, None, None), ('end_station_id', VARCHAR, None, None, None, None, None), ('end_station_name', VARCHAR, None, None, None, None, None), ('end_station_lat', DOUBLE, None, None, None, None, None), ('end_station_long', DOUBLE, None, None, None, None, None), ('user_type', VARCHAR, None, None, None, None, None), ('rideable_type', VARCHAR, None, None, None, None, None)]
attempting to add view
done adding view...
✅ jc_2017 created & persisted.
--------------------------------------------------------------------
⏳ Creating table jc_2018 from S3 ...
Total entries found for 2018 -> 353892
begin schema validity check
done schema validity check
begin nullity check
skipping ... rideable_type
done nullity check
reduced 353892 by 0 -> 353892
sample query ->
[(1814, datetime.datetime(2018, 4, 1, 9, 43, 51, 159000), datetime.datetime(2018, 4, 1, 10, 14, 6, 130000), datetime.date(2018, 4, 1), '3183', '"Exchange Place"', 40.7162469, -74.0334588, '3638', '"Washington St"', 40.7242941, -74.0354826, '"Subscriber"', None), (298, datetime.datetime(2018, 4, 1, 11, 42, 53, 709000), datetime.datetime(2018, 4, 1, 11, 47, 51, 877000), datetime.date(2018, 4, 1), '3183', '"Exchange Place"', 40.7162469, -74.0334588, '3187', '"Warren St"', 40.7211236, -74.03805095, '"Subscriber"', None), (1060, datetime.datetime(2018, 4, 1, 12, 43, 11, 964000), datetime.datetime(2018, 4, 1, 13, 0, 52, 870000), datetime.date(2018, 4, 1), '3183', '"Exchange Place"', 40.7162469, -74.0334588, '3192', '"Liberty Light Rail"', 40.7112423, -74.0557013, '"Subscriber"', None), (1035, datetime.datetime(2018, 4, 1, 12, 43, 40, 589000), datetime.datetime(2018, 4, 1, 13, 0, 55, 662000), datetime.date(2018, 4, 1), '3183', '"Exchange Place"', 40.7162469, -74.0334588, '3192', '"Liberty Light Rail"', 40.7112423, -74.0557013, '"Subscriber"', None), (559, datetime.datetime(2018, 4, 1, 12, 56, 47, 460000), datetime.datetime(2018, 4, 1, 13, 6, 6, 771000), datetime.date(2018, 4, 1), '3183', '"Exchange Place"', 40.7162469, -74.0334588, '3199', '"Newport Pkwy"', 40.7287448, -74.0321082, '"Subscriber"', None)]
[('trip_duration', BIGINT, None, None, None, None, None), ('start_time', TIMESTAMP, None, None, None, None, None), ('stop_time', TIMESTAMP, None, None, None, None, None), ('trip_date', DATE, None, None, None, None, None), ('start_station_id', VARCHAR, None, None, None, None, None), ('start_station_name', VARCHAR, None, None, None, None, None), ('start_station_lat', DOUBLE, None, None, None, None, None), ('start_station_long', DOUBLE, None, None, None, None, None), ('end_station_id', VARCHAR, None, None, None, None, None), ('end_station_name', VARCHAR, None, None, None, None, None), ('end_station_lat', DOUBLE, None, None, None, None, None), ('end_station_long', DOUBLE, None, None, None, None, None), ('user_type', VARCHAR, None, None, None, None, None), ('rideable_type', VARCHAR, None, None, None, None, None)]
attempting to add view
done adding view...
✅ jc_2018 created & persisted.
--------------------------------------------------------------------
⏳ Creating table jc_2019 from S3 ...
Total entries found for 2019 -> 404947
begin schema validity check
done schema validity check
begin nullity check
skipping ... rideable_type
done nullity check
reduced 404947 by 0 -> 404947
sample query ->
[(107, datetime.datetime(2019, 4, 1, 7, 48, 4, 754000), datetime.datetime(2019, 4, 1, 7, 49, 52, 359000), datetime.date(2019, 4, 1), '3183', '"Exchange Place"', 40.7162469, -74.0334588, '3184', '"Paulus Hook"', 40.7141454, -74.0335519, '"Subscriber"', None), (493, datetime.datetime(2019, 4, 1, 12, 41, 9, 654000), datetime.datetime(2019, 4, 1, 12, 49, 23, 29000), datetime.date(2019, 4, 1), '3183', '"Exchange Place"', 40.7162469, -74.0334588, '3187', '"Warren St"', 40.7211236, -74.03805095, '"Customer"', None), (512, datetime.datetime(2019, 4, 1, 14, 27, 7, 940000), datetime.datetime(2019, 4, 1, 14, 35, 40, 937000), datetime.date(2019, 4, 1), '3183', '"Exchange Place"', 40.7162469, -74.0334588, '3202', '"Newport PATH"', 40.7272235, -74.0337589, '"Subscriber"', None), (196, datetime.datetime(2019, 4, 1, 15, 7, 38, 151000), datetime.datetime(2019, 4, 1, 15, 10, 54, 626000), datetime.date(2019, 4, 1), '3183', '"Exchange Place"', 40.7162469, -74.0334588, '3214', '"Essex Light Rail"', 40.7127742, -74.0364857, '"Subscriber"', None), (463, datetime.datetime(2019, 4, 1, 16, 19, 24, 694000), datetime.datetime(2019, 4, 1, 16, 27, 8, 645000), datetime.date(2019, 4, 1), '3183', '"Exchange Place"', 40.7162469, -74.0334588, '3273', '"Manila & 1st"', 40.721650724879986, -74.04288411140442, '"Subscriber"', None)]
[('trip_duration', BIGINT, None, None, None, None, None), ('start_time', TIMESTAMP, None, None, None, None, None), ('stop_time', TIMESTAMP, None, None, None, None, None), ('trip_date', DATE, None, None, None, None, None), ('start_station_id', VARCHAR, None, None, None, None, None), ('start_station_name', VARCHAR, None, None, None, None, None), ('start_station_lat', DOUBLE, None, None, None, None, None), ('start_station_long', DOUBLE, None, None, None, None, None), ('end_station_id', VARCHAR, None, None, None, None, None), ('end_station_name', VARCHAR, None, None, None, None, None), ('end_station_lat', DOUBLE, None, None, None, None, None), ('end_station_long', DOUBLE, None, None, None, None, None), ('user_type', VARCHAR, None, None, None, None, None), ('rideable_type', VARCHAR, None, None, None, None, None)]
attempting to add view
done adding view...
✅ jc_2019 created & persisted.
--------------------------------------------------------------------
⏳ Creating table jc_2020 from S3 ...
Total entries found for 2020 -> 336802
begin schema validity check
done schema validity check
begin nullity check
skipping ... rideable_type
done nullity check
reduced 336802 by 0 -> 336802
sample query ->
[(1437, datetime.datetime(2020, 4, 1, 1, 6, 20, 630000), datetime.datetime(2020, 4, 1, 1, 30, 17, 968000), datetime.date(2020, 4, 1), '3678', '"Fairmount Ave"', 40.72572613742557, -74.07195925712585, '3678', '"Fairmount Ave"', 40.72572613742557, -74.07195925712585, '"Customer"', None), (264, datetime.datetime(2020, 4, 1, 5, 2, 42, 57000), datetime.datetime(2020, 4, 1, 5, 7, 6, 126000), datetime.date(2020, 4, 1), '3207', '"Oakland Ave"', 40.7376037, -74.0524783, '3195', '"Sip Ave"', 40.73089709786179, -74.06391263008118, '"Subscriber"', None), (254, datetime.datetime(2020, 4, 1, 6, 20, 28, 119000), datetime.datetime(2020, 4, 1, 6, 24, 42, 138000), datetime.date(2020, 4, 1), '3678', '"Fairmount Ave"', 40.72572613742557, -74.07195925712585, '3195', '"Sip Ave"', 40.73089709786179, -74.06391263008118, '"Subscriber"', None), (429, datetime.datetime(2020, 4, 1, 6, 33, 30, 517000), datetime.datetime(2020, 4, 1, 6, 40, 40, 199000), datetime.date(2020, 4, 1), '3195', '"Sip Ave"', 40.73089709786179, -74.06391263008118, '3679', '"Bergen Ave"', 40.722103786686034, -74.07145500183105, '"Subscriber"', None), (805, datetime.datetime(2020, 4, 1, 6, 38, 32, 922000), datetime.datetime(2020, 4, 1, 6, 51, 58, 205000), datetime.date(2020, 4, 1), '3193', '"Lincoln Park"', 40.7246050998869, -74.07840594649315, '3195', '"Sip Ave"', 40.73089709786179, -74.06391263008118, '"Subscriber"', None)]
[('trip_duration', BIGINT, None, None, None, None, None), ('start_time', TIMESTAMP, None, None, None, None, None), ('stop_time', TIMESTAMP, None, None, None, None, None), ('trip_date', DATE, None, None, None, None, None), ('start_station_id', VARCHAR, None, None, None, None, None), ('start_station_name', VARCHAR, None, None, None, None, None), ('start_station_lat', DOUBLE, None, None, None, None, None), ('start_station_long', DOUBLE, None, None, None, None, None), ('end_station_id', VARCHAR, None, None, None, None, None), ('end_station_name', VARCHAR, None, None, None, None, None), ('end_station_lat', DOUBLE, None, None, None, None, None), ('end_station_long', DOUBLE, None, None, None, None, None), ('user_type', VARCHAR, None, None, None, None, None), ('rideable_type', VARCHAR, None, None, None, None, None)]
attempting to add view
done adding view...
✅ jc_2020 created & persisted.
--------------------------------------------------------------------
⏳ Creating table jc_2021 from S3 ...
Total entries found for 2021 -> 644443
begin schema validity check
done schema validity check
begin nullity check
skipping ... rideable_type
done nullity check
reduced 644443 by 13856 -> 630587
sample query ->
[(datetime.datetime(2021, 2, 3, 23, 11, 28), datetime.datetime(2021, 2, 3, 23, 18, 28), datetime.date(2021, 2, 3), 420, 'Hoboken Ave at Monmouth St', 'JC105', 'Christ Hospital', 'JC034', 40.735208, -74.046964, 40.734786, -74.050444, 'member', 'docked_bike'), (datetime.datetime(2021, 2, 27, 16, 34, 5), datetime.datetime(2021, 2, 27, 16, 56, 40), datetime.date(2021, 2, 27), 1355, 'Newport Pkwy', 'JC008', 'Marin Light Rail', 'JC013', 40.728744, -74.032108, 40.71458403535893, -74.04281705617905, 'member', 'docked_bike'), (datetime.datetime(2021, 2, 26, 23, 16, 4), datetime.datetime(2021, 2, 26, 23, 22, 25), datetime.date(2021, 2, 26), 381, 'Journal Square', 'JC103', 'Baldwin at Montgomery', 'JC020', 40.73367, -74.0625, 40.7236589, -74.0641943, 'member', 'docked_bike'), (datetime.datetime(2021, 2, 24, 16, 51, 50), datetime.datetime(2021, 2, 24, 17, 16, 9), datetime.date(2021, 2, 24), 1459, 'Hoboken Ave at Monmouth St', 'JC105', 'Hoboken Ave at Monmouth St', 'JC105', 40.735208, -74.046963, 40.73520838045357, -74.04696375131607, 'casual', 'docked_bike'), (datetime.datetime(2021, 2, 24, 20, 44, 16), datetime.datetime(2021, 2, 24, 20, 44, 46), datetime.date(2021, 2, 24), 30, 'Hoboken Ave at Monmouth St', 'JC105', 'Hoboken Ave at Monmouth St', 'JC105', 40.735208, -74.046963, 40.73520838045357, -74.04696375131607, 'member', 'docked_bike')]
[('start_time', TIMESTAMP, None, None, None, None, None), ('stop_time', TIMESTAMP, None, None, None, None, None), ('trip_date', DATE, None, None, None, None, None), ('trip_duration', BIGINT, None, None, None, None, None), ('start_station_name', VARCHAR, None, None, None, None, None), ('start_station_id', VARCHAR, None, None, None, None, None), ('end_station_name', VARCHAR, None, None, None, None, None), ('end_station_id', VARCHAR, None, None, None, None, None), ('start_station_lat', DOUBLE, None, None, None, None, None), ('start_station_long', DOUBLE, None, None, None, None, None), ('end_station_lat', DOUBLE, None, None, None, None, None), ('end_station_long', DOUBLE, None, None, None, None, None), ('user_type', VARCHAR, None, None, None, None, None), ('rideable_type', VARCHAR, None, None, None, None, None)]
attempting to add view
done adding view...
✅ jc_2021 created & persisted.
--------------------------------------------------------------------
⏳ Creating table jc_2022 from S3 ...
Total entries found for 2022 -> 895485
begin schema validity check
done schema validity check
begin nullity check
skipping ... rideable_type
done nullity check
reduced 895485 by 1970 -> 893515
sample query ->

In [ ]:
raw_data_total_rides = {'nyc': {'2013': 11229776,
  '2014': 8081216,
  '2015': 9937969,
  '2016': 13845655,
  '2017': 16364657,
  '2018': 35096678,
  '2019': 20551697,
  '2020': 19562314,
  '2021': 27130122,
  '2022': 29838806,
  '2023': 35106986,
  '2024': 44303209,
  '2025': 35530530},
 'jc': {'2015': 52883,
  '2016': 247584,
  '2017': 259456,
  '2018': 353892,
  '2019': 404947,
  '2020': 336802,
  '2021': 644443,
  '2022': 895485,
  '2023': 988851,
  '2024': 1052451,
  '2025': 773301}}

{'nyc': {'2013': 11229776,
  '2014': 8081216,
  '2015': 9937969,
  '2016': 13845655,
  '2017': 16364657,
  '2018': 35096678,
  '2019': 20551697,
  '2020': 19562314,
  '2021': 27130122,
  '2022': 29838806,
  '2023': 35106986,
  '2024': 44303209,
  '2025': 35530530},
 'jc': {'2015': 0,
  '2016': 247584,
  '2017': 259456,
  '2018': 353892,
  '2019': 404947,
  '2020': 336802,
  '2021': 644443,
  '2022': 895485,
  '2023': 988851,
  '2024': 1052451,
  '2025': 0}}